
Create table Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Position VARCHAR(50),
    HireDate DATE
);
Insert into Employees (EmployeeID, FirstName, LastName, Position, HireDate) VALUES
(1, 'John', 'Doe', 'Software Engineer', '2020-01-15'),
(2, 'Jane', 'Smith', 'Project Manager', '2019-03-22'),
(3, 'Emily', 'Johnson', 'Data Analyst', '2021-07-10'),
(4, 'Michael', 'Brown', 'UX Designer', '2018-11-05'),
(5, 'Sarah', 'Davis', 'QA Tester', '2022-02-28'),
(6, 'Terry', 'Wilson', 'DevOps Engineer', '2020-09-14')
;
Select * from Employees;
Update Employees
SET Position = 'Senior Software Engineer'
WHERE EmployeeID = 1;
